altgraph==0.17.5
bottle==0.13.4
macholib==1.16.4
packaging==26.3
proxy_tools==0.1.0
pyinstaller==6.22.3
pyinstaller-hooks-contrib==2026.7
pyobjc-core==12.2.2
pyobjc-framework-Cocoa==12.2.2
pyobjc-framework-Quartz==12.2.2
pyobjc-framework-Security==12.2.2
pyobjc-framework-UniformTypeIdentifiers==12.2.2
pyobjc-framework-WebKit==12.2.2
pywebview==6.2.1
setuptools==84.0.0
typing_extensions==4.16.0
